.field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--gray-1);
    border-radius: var(--border-radius-primary);
}

.field__alignCenter {
    align-items: center;
}

@media (max-width: 575px) {
    .field__alignCenter {
        align-items: start;
    }
}

.field__contentColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.field__contentRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}



.field__radioBox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.field__radioBox>label {
    cursor: pointer;
}

.field__radioBox>label::first-letter {
    text-transform: capitalize;
}

.field__inputBox {
    height: 30px;
    padding-left: 10px;
    border-radius: var(--border-radius-secondary);
    border: 1px solid var(--gray-1);
    outline: none;
}

.field__checkboxGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(78px, 1fr));
    gap: 5px;
}

.field__chooseBox {
    border: 1px solid var(--blue-0);
    border-radius: 8px;
    min-width: 50px;
    flex-grow: 1;
}

.field__chooseBox_active {
    background-color: var(--blue-0);
    color: var(--font-light);
}

.field__chooseBox>input {
    display: none;
}

.field__chooseBox>label {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.field__inputTime {
    width: 80px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border: 3px solid #78c9ec;
    margin: 0 10px;
}

.field__timeControls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feild__timeBtns {
    padding: 0;
    width: 50px;
    height: 20px;
    color: var(--white);
}

.feild__timeBtns_add {
    background-color: var(--blue-0);
}

.feild__timeBtns_remove {
    background-color: var(--red-0);
}

.feild__timeBtns_disabled {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
    background-color: rgba(128, 128, 128, 0.199);
}