.calendar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border-radius: var(--border-radius-primary);
    box-shadow: 1px 5px 10px 0px #e4e4e4;
    background-color: var(--white);
}

.calendar__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.calendar__form {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.calendar__ToWords {
    font-weight: 500;
    font-style: italic;
    margin: 20px auto;
}

.calendar__ToCron {
    min-width: 200px;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--white);
    outline: 2px solid var(--blue-0);
    border-radius: var(--border-radius-primary);
    font-size: var(--font-600);
    margin-left: auto;
    margin-right: auto;
}

.calendar__inWords {
    margin: 0 auto;
    font-style: italic;
}