.calSlot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    width: 100%;
    min-width: 150px;
    border: 1px solid #cccccc;
    background-color: #333333;
    border-radius: var(--border-radius-primary);
}

.calSlot__text {
    color: var(--white);
}

.calSlot__btn {
    font-size: var(--font-600);
    cursor: pointer;
    margin-left: 10px;
}

.calSlot__btn:hover {
    scale: 1.1;
}

.calSlot__btn_red {
    color: var(--red-0);
}

.calSlot__btn_white {
    color: var(--white);
}