.listCals {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 20px;
    background-color: var(--white);
    border-radius: var(--border-radius-primary);
    box-shadow: 0 0px 3px 1px #e4e4e4;
}

.listCals__btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}